[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "==4.8"
djoser = "*"
psycopg2 = "*"
psycopg2-binary = "*"
social-auth-app-django = "*"
djutils = "*"
urlquote = "*"
werkzeug = "==0.14.1"
whitenoise = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.8"
